.pagination {
  display: flex;
  flex-direction: column;
  .pagination__btn {
    display: flex;
    flex-direction: row;
    a {
      display: none;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $dark-shade-50;
      font-size: 12px;
      line-height: 15px;
    }
    .active-page {
      width: 40px;
      height: 40px;
      font-weight: bold;
      color: white;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
    }
    .next-page {
      width: 40px;
      height: 40px;
      position: relative;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      cursor: pointer;
    }
    .next-page:after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 11px;
      right: 11px;
      background: url("assets/img/css_sprites.png") no-repeat -132px -128px;
    }
  }

  .pagination__variants-count {
    margin-top: 10.56px;
  }

  .ellipsis {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}