@import "../../ui-kit/header/header.scss";
@import "../../ui-kit/footer/footer.scss";
@import "../../ui-kit/cards/in-room-card/in-room-card.scss";
@import "../../ui-kit/form-elements/bullet-list/bullet-list.scss";
@import "../../ui-kit/form-elements/comment/comment.scss";
@import "../../ui-kit/form-elements/room-information/room-information.scss";


.wrapper {
  display: flex;
	flex-direction: column;
}

.content._room-details {
  flex: 1 0 auto;
  padding-bottom: 70px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.15);

  .showcase {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 485px;
    margin-bottom: 70px;
    &__lg-img {
      width: 68.125%;
      img {width: 100%; height: 100%;}
    }
    &__sm-img {
      width: 31.875%;
      img {width: 100%; height: 50%;}
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {margin-bottom: 20px;}

    .room-details__info {
      width: 61.2%;
      .info-block, .rools-block {
        display: flex;
        flex-direction: row;
      }
      .info-block {
        margin-bottom: 30px;
        .intelligence {
          margin-right: 80px;
          .room-information {
            padding-bottom: 17px;
            border-bottom: 1px solid rgba(31, 32, 65, 0.1);
            margin-bottom: 20px;
            &:last-child {
              padding: 0;
              margin: 0;
              border: none;
            }
          }
        }

        .impressions__chart {
          position: relative;
          display: flex;
          flex-direction: row;
          /////
          .chart__votes-count {
            .bad,
            .passably,
            .good,
            .magnificently {
              display: none;
              position: absolute;
              content: '';
              width: 80px;
              height: 50px;
              top: 35px;
              left: 20px;
              text-align: center;
              text-transform: uppercase;
              font-weight: bold;
              p {font-size: 12px; line-height: 15px;}
            }
            .bad h1, .bad p {color: #3D4975;}
            .passably h1, .passably p {color: $purple;}
            .good h1, .good p {color: $green;}
            .magnificently h1, .magnificently p {color: #FFBA9C;}
          }
          .chart__legend {
            display: flex;
            align-items: flex-end;
            margin-left: 30px;
            padding-left: 15px;
            ul li {position: relative;}
            ul li::before {
              position: absolute;
              content: '';
              width: 10px;
              height: 10px;
              left: -15px;
              top: 7px;
              border-radius: 50%;
            }
            li.legend__magnificently::before {background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);}
            li.legend__good::before {background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);}
            li.legend__passably::before {background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);}
            li.legend__bad::before {background: linear-gradient(180deg, #919191 0%, #3D4975 100%);}
          }
        }
      }
      .comments-block {
        margin-bottom: 30px;
        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 20px;
          h2 {margin-bottom: 0;}
          span {
            display: flex;
            align-items: flex-end;
            line-height: 14px;
            color: $dark-shade-50;
          }
        }
        .comment {
          margin-bottom: 23px;
          &:last-child {margin-bottom: 0;}
        }
      }

      .rools-block .bullet-list {margin-right: 100px;}
    }

    .room-details__card {
      h2 {margin-bottom: 0;}
      width: 380px;
    }
  }
}


footer {
  flex: 0 0 auto;
}

@media screen and (min-width: $smDesktopWidth) and (max-width: $desktopWidth) {
}

@media screen and (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
}

@media screen and (min-width: $phoneWidth) and (max-width: $tableWidth) {
}

@media screen and (max-height: $phoneWidth) and (max-width: $smDesktopWidth) and (orientation: landscape) {
}

@media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
}

@media screen and (max-width: $smPhoneWidth) {
}