@import "../../ui-kit/header/header.scss";
@import "../../ui-kit/footer/footer.scss";
@import "../../ui-kit/cards/in-room-card/in-room-card.scss";
@import "../../ui-kit/form-elements/bullet-list/bullet-list.scss";
@import "../../ui-kit/form-elements/comment/comment.scss";
@import "../../ui-kit/form-elements/room-information/room-information.scss";


.wrapper {
  display: flex;
	flex-direction: column;
}

.content._room-details {
  flex: 1 0 auto;
  padding-bottom: 70px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.15);

  .showcase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 485px;
    margin-bottom: 70px;
    @media screen and (min-width: '1401px') and (min-width: '1600px') {height: 500px;}
    @media screen and (min-width: '1281px') and (max-width: '1400px') {height: 450px;}
    @media screen and (min-width: '769px') and (max-width: '1280px') {height: 400px;}
    @media screen and (min-width: '601px') and (max-width: '768px') {height: 350px;}
    @media screen and (min-width: '481px') and (max-width: '600px') {height: 300px;}
    @media screen and (max-width: '480px') {height: 220px;}

    @media screen and (max-width: '980px') {
      &__lg-img {width: 100%;}
      &__sm-img {display: none;}
    }
    &__lg-img {
      width: 68.125%;
      img {width: 100%; height: 100%;}
    }
    &__sm-img {
      width: 31.875%;
      img {width: 100%; height: 50%;}
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (min-width: '981px') and (max-width: '1140px') {
      .room-details__info .info-block .intelligence,
      .room-details__info .rools-block .bullet-list {margin-right: 5%;}
      .room-details__info {padding-right: 15px;}
    }
    @media screen and (min-width: '769px') and (max-width: '980px') {
      flex-direction: column;
      align-items: center;
      .room-details__info {
        width: 100%;
        padding: 0 5%;
        margin-bottom: 50px;
      }
    }
    @media screen and (min-width: '601px') and (max-width: '768px') {
      flex-direction: column;
      align-items: center;
      .room-details__info {
        width: 100%;
        margin-bottom: 50px;
        .info-block {justify-content: space-between;}
        .info-block .intelligence {margin-right: 0;}
        .info-block .impressions__chart {flex-direction: column;}
        .info-block .impressions__chart .chart__legend {margin: 20px 0 0;}
      }
    }
    @media screen and (min-width: '481px') and (max-width: '600px') {
      flex-direction: column;
      align-items: center;
      .room-details__info {
        width: 100%;
        margin-bottom: 50px;
        .info-block, .rools-block {padding: 0 40px;flex-direction: column;}
        .info-block .intelligence,
        .rools-block .bullet-list {margin-bottom: 32px;}
      }
    }
    @media screen and (min-width: '320px') and (max-width: '480px') {
      flex-direction: column;
      align-items: center;
      h2 {font-size: 17px;}
      p, span {font-size: 12px;}
      .room-details__info {
        width: 100%;
        margin-bottom: 50px;
        padding: 0 20px;
        .info-block, .rools-block {flex-direction: column;}
        .info-block .impressions {display: none;}
        .rools-block .bullet-list {margin: 0 0 32px;}
        // .info-block .intelligence .room-information {margin: 0 auto 25px;}
        // .info-block .intelligence .room-information:last-child {margin: 0 auto;}
      }
    }

    @media screen and (min-width: '320px') and (max-width: '380px') {
      h2 + span {display: none;}
      .room-details__card {
        width: 320px;
        margin: 0 auto;
      }
    }
    h2 {margin-bottom: 23px;}

    .room-details__info {
      width: 61.2%;
      .info-block, .rools-block {
        display: flex;
        flex-direction: row;
      }
      .info-block {
        margin-bottom: 32px;
        .intelligence {
          margin-right: 11.3%;
          .room-information {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(31, 32, 65, 0.1);
            margin-bottom: 25px;
            &:last-child {
              padding: 0;
              margin: 0;
              border: none;
            }
          }
        }
        .impressions__chart {
          position: relative;
          display: flex;
          flex-direction: row;
          @media screen and (min-width: '1281px') and (max-width: '1400px') {
            flex-direction: column;
            .chart__legend {margin: 20px 0 0;}
          }
          @media screen and (min-width: '981px') and (max-width: '1100px') {
            flex-direction: column;
            .chart__legend {margin: 20px 0 0;}
          }
          /////
          .chart__votes-count {
            .bad,
            .passably,
            .good,
            .magnificently {
              display: none;
              position: absolute;
              content: '';
              width: 80px;
              height: 50px;
              top: 35px;
              left: 20px;
              text-align: center;
              text-transform: uppercase;
              font-weight: bold;
              p {font-size: 12px; line-height: 15px;}
            }
            .bad h1, .bad p {color: #3D4975;}
            .passably h1, .passably p {color: $purple;}
            .good h1, .good p {color: $green;}
            .magnificently h1, .magnificently p {color: #FFBA9C;}
          }
          .chart__legend {
            display: flex;
            align-items: flex-end;
            margin-left: 30px;
            padding-left: 15px;
            ul li {position: relative;}
            ul li::before {
              position: absolute;
              content: '';
              width: 10px;
              height: 10px;
              left: -15px;
              top: 7px;
              border-radius: 50%;
            }
            li.legend__magnificently::before {background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);}
            li.legend__good::before {background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);}
            li.legend__passably::before {background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);}
            li.legend__bad::before {background: linear-gradient(180deg, #919191 0%, #3D4975 100%);}
          }
        }
      }
      .comments-block {
        margin-bottom: 32px;
        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 20px;
          h2 {margin-bottom: 0;}
          span {
            padding-top: 6px;
            line-height: 14px;
            color: $dark-shade-50;
          }
        }
        .comment {
          margin-bottom: 23px;
          &:last-child {margin-bottom: 0;}
        }
      }

      .rools-block {
        h2 {margin-bottom: 19px;}
        .bullet-list {margin-right: 95px;}
      }
    }

    .room-details__card {
      h2 {margin-bottom: 0;}
      width: 380px;
    }
  }
}

footer {
  flex: 0 0 auto;
}

@media screen and (min-width: $smDesktopWidth) and (max-width: $desktopWidth) {
}

@media screen and (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
}

@media screen and (min-width: $phoneWidth) and (max-width: $tableWidth) {
}

@media screen and (max-height: $phoneWidth) and (max-width: $smDesktopWidth) and (orientation: landscape) {
}

@media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
}

@media screen and (max-width: $smPhoneWidth) {
}