@import "../../ui-kit/header/header.scss";
@import "../../ui-kit/footer/footer.scss";
@import "../../ui-kit/form-elements/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../ui-kit/form-elements/quantity-dropdown/quantity-dropdown.scss";
@import "../../ui-kit/form-elements/range-slider/range-slider.scss";
@import "../../ui-kit/form-elements/checkbox-list/checkbox-list.scss";
@import "../../ui-kit/form-elements/pagination/pagination.scss";
@import "../../ui-kit/cards/room-card/room-card.scss";

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content._search-room {
  @media screen and (max-width: 1160px) {padding: 30px 0 70px;}
  flex: 1 0 auto;
  padding: 30px 0 70px;
  border-bottom: 1px solid $dark-shade-25;
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    .filters__btn {
      width: 130px;
      height: 35px;
      vertical-align: middle;
      line-height: 35px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      border-radius: 22px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      &._open {
        position: fixed; 
        left: -999999999999px;
        bottom: 15px;
        z-index: 1000;
      }
      &._apply {
        display: none;
      }
    }
    ///////////////
    .filters {
      display: flex;
      flex-direction: column;
      width: 266px;
      margin-right: 5.2%;
      .iqdropdown__input-btn, .iqdropdown-menu,
      .filter-date-dropdown, .filter-date-dropdown__input,
      .range-slider {width: 266px;}
      > div {
        margin-bottom: 30px;
        &:first-of-type {margin-bottom: 20px;}
        &:last-of-type {margin-bottom: 0;}
      }

      @media screen and (min-width: 1281px) and (max-width: 1459px) {
        width: 260px;
        margin-right: 20px;
        .iqdropdown__input-btn, .iqdropdown-menu,
        .filter-date-dropdown, .filter-date-dropdown__input,
        .range-slider {width: 260px;}
      }
      @media screen and (min-width: $phoneWidth) and (max-width: 1160px) {
        &__btn._open {left: calc(50% - 65px);}
        &__btn._apply {margin: 30px auto 0;}

        display: flex;
        position: absolute;
        top: -30px;
        left: -99999999px;
        padding: 30px 60px 30px 140px;
        width: auto;
        height: calc(100% + 100px);
        margin-right: 0;
        background: white;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        align-items: center;
        z-index: 10;
      }
      @media screen and (max-width: $phoneWidth) {
        &__btn._open {left: calc(50% - 65px);}
        &__btn._apply {margin: 30px auto 0;}
        
        display: flex;
        position: absolute;
        top: -30px;
        left: -99999999px;
        padding: 30px 15px;
        margin-left: 2.5%;
        width: 100%;
        height: auto;
        margin-right: 0;
        background: white;
        align-items: center;
        z-index: 10;

        .checkbox-list {width: 266px;}
      }
    }

    ///////////////
    .seletion-rooms {
      display: flex;
      flex-direction: column;
      width: 71.9%;
      &__cards-block {
        padding: 20px 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .room-card {
          width: 260px;
          margin-right: 12px;
          margin-bottom: 20px;
          .owl-carousel.owl-theme {width: 100%;}
        }
      }
      @media screen and (min-width: 1877px) {
        &__cards-block .room-card {
          &:nth-child(4n){margin-right: 0;}
        }
      }
      @media screen and (min-width: 1460px) and (max-width: 1876px) {
        &__cards-block {
          .room-card {
            width: 270px;
            &:nth-child(3n){margin-right: 0;}
          }
        }
      }
      @media screen and (min-width: 1281px) and (max-width: 1459px) {
        &__cards-block {
          .room-card {
            width: 32.3%;
            margin-right: 10px;
            &:nth-child(3n){margin-right: 0;}
            .room-info {
              h2 {font-size: 18px;}
              .room-number.luxury:after {right: -43px;}
              span i {font-size: 11px;}
            }
          }
        }
      }
      @media screen and (min-width: 1161px) and (max-width: 1280px) {
        &__cards-block {
          .room-card {
            width: 32.3%;
            max-width: 270px;
            margin-right: 10px;
            &:nth-child(3n){margin-right: 0;}
          }
        }
      }
      @media screen and (max-width: 1160px) {
        width: 100vw;
        .room-card {width: 265px;}
        &__title {text-align: center;}
        &__cards-block {justify-content: center;}
      }
      @media screen and (max-width: 880px) {
        width: 100vw;
        &__title {text-align: center;}

        &__cards-block {
          justify-content: center;
          .room-card {
            width: 270px;
            &:nth-child(3n){margin-right: 12px;}
            &:nth-child(2n){margin-right: 0;}
          }
        }
      }
      @media screen and (max-width: $phoneWidth) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        width: 100vw;
        &__title {text-align: center;}

        &__cards-block {
          width: 270px;
          padding: 0;
          display: flex;
          flex-direction: column;
          .room-card {
            width: 270px;
            margin: 15px 0 0;
            &:last-child {margin-bottom: 35px;}
          }
        } 
      }
    }

    ///////////////
    .pagination {
      display: flex;
      align-items: center;
    }
  }
}

footer {
  flex: 0 0 auto;
}

#datepickers-container .datepicker {
  width: 266px;
  &--content .datepicker--days-names,
  &--content .datepicker--cells.datepicker--cells-days {
    width: 100%;
  }
  &--content .datepicker--day-name,
  &--content .datepicker--cell-day {
    width: 32px;
    height: 32px;
  }

  .-range-from-,
  .-range-to-,
  .-selected-.datepicker--cell-day.-other-month-, 
  .-selected-.datepicker--cell-year.-other-decade-,
  .-selected-.datepicker--cell-day {
    width: 32px;
    height: 32px;
  }
  .-range-from-:after,
  .-range-to-:before {
    width: 16px;
    height: 32px;
  }
  @media screen and (min-width: 1281px) and (max-width: 1459px) {
    width: 260px;
    &--content .datepicker--day-name,
    &--content .datepicker--cell-day {
      width: 31px;
      height: 31px;
    }
  
    .-range-from-,
    .-range-to-,
    .-selected-.datepicker--cell-day.-other-month-, 
    .-selected-.datepicker--cell-year.-other-decade-,
    .-selected-.datepicker--cell-day {
      width: 31px;
      height: 31px;
    }
    .-range-from-:after,
    .-range-to-:before {
      width: 15.5px;
      height: 31px;
    }
  }
}

