mixin radio-buttons()
  .radio-buttons
    .radio-buttons__man-btn
      input.radio-buttons__input(id="man" type="radio" name="sex" value="radio1" checked)
      label.radio-buttons__label(for="man") Мужчина
    .radio-buttons__woman-btn
      input.radio-buttons__input(id="woman" type="radio" name="sex" value="radio2")
      label.radio-buttons__label(for="woman") Женщина