.bullet-list {
  &__caption {
    color: $dark-shade-100;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  &__li {
    position: relative;
    width: 266px;
    padding-left: 20px;
    margin-bottom: 10px;
    &:last-child {margin-bottom: 0;}
  }
  &__li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 7px;
    left: 0;
    background-color: $dark-shade-25;
    border-radius: 50%;
  }
}