%form-common-decoration {
  width: 380px;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.search-rooms {
  @extend %form-common-decoration;

  &-title {
    margin-bottom: 20px;
  }
  .form-date-dropdown {
    margin-bottom: 20.5px;
  }
  .iqdropdown {
    margin-bottom: 31px;
  }
  .input-btn:focus {
    border: 1px solid $dark-shade-25;
  }
}

.signUp{
  @extend %form-common-decoration;

  &-title {
    margin-bottom: 20px;
  }
  .form-text-field {
    margin-bottom: 10px;
  }
  .form-radio-buttons {
    margin-bottom: 20px;
  }
  .form-date-birthday {
    margin-bottom: 20px;
  }
  .form-toggle {
    margin-bottom: 20px;
  }
  .lg-btn {
    margin-bottom: 30px;
  }
  .isSignIn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      line-height: 18px;
    }
  }
}

.signIn{
  @extend %form-common-decoration;

  &-title {
    margin-bottom: 20px;
  }
  .form-text-field {
    margin-bottom: 10px;
  }
  .lg-btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .isSignUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      line-height: 18px;
    }
  }
}


// air-datepicker
.datepicker {
  width: 320px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $dark-shade-50;

  
  &--pointer {
    display: none;
  }


  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding: 0;
    margin-bottom: 30px;
    &-title {
      font-family: $titleFont sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      color: $dark-shade-100;
      &:hover {
        background: none;
      }
    }
    &-action {
      svg {
        display: none;
      }
      width: 18px;
      height: 18px;
      background: url("../img/css_sprites.png") no-repeat -94px -128px;
      &:first-child {
        transform: rotate(180deg)
      }
      &:hover {
        background: url("../img/css_sprites.png") no-repeat -94px -128px;
      }
    }
  }
  

  &--content {
    padding: 0;
    margin-bottom: 20px;
    .datepicker--cells {
      width: 280px;
    }
    .datepicker--days-names {
      margin: 0;
      margin-bottom: 25px;
    }
    .datepicker--day-name {
      font-size: 12px;
      font-weight: bold;
      color: $purple;
      text-transform: capitalize;
    }
    .datepicker--cell-day {
      width: 39.88px;
      height: 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: $dark-shade-50;
      &:hover {
        border-radius: 22px;
      }
    }
    .-current-,
    .datepicker--cell.-other-month-.-current- {
      color: white;
      font-weight: bold;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      &:hover {
        color: white;
      }
    }
    .datepicker--cell.-current-.-in-range- {
      color: $purple;
      font-weight: bold;
    }
    .datepicker--cell-month {
      font-size: 14px;
    }
    .-other-month- {
      color: $dark-shade-25
    }
    .-in-range-, 
    .-in-range-.datepicker--cell-day.-other-month-, 
    .-in-range-.datepicker--cell-year.-other-decade-{
      border-radius: 0;
      background: linear-gradient(rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
      &:hover {
        border-radius: 0;
        background: linear-gradient(rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
      }
    }
    .-range-from-,
    .-range-to-,
    .-selected-.datepicker--cell-day.-other-month-, 
    .-selected-.datepicker--cell-year.-other-decade-,
    .-selected-.datepicker--cell-day {
      position: relative;
      width: 40px;
      height: 40px;
      border: none;
      color: white;
      font-weight: bold;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      z-index: 100;
      &:hover {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: white;
      }
    }
    .-range-from-:after,
    .-range-to-:before {
      position: absolute;
      content: "";
      top: 0;
      width: 20px;
      height: 40px;
      background: linear-gradient(rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
      z-index: -10;
    }
    .-range-to-:before {
      left: 0;
    }
    .-range-from-:after {
      right: 0;
    }
    .-range-from-:hover,
    .-range-to-:hover {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }


  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-top: none;
    .datepicker--button {
      height: auto;
      flex-grow: 0;
      flex-shrink: 1;
      justify-content: flex-start;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-shade-50;
      background: none;
    }

    .datepicker--button[data-action="apply"] {
      width: 84px;
      justify-content: flex-end;
      color: #BC9CFF;
    }
  }
}

// room-card
.room-card {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  // owl-carousel
  .owl-carousel.owl-theme {
    position: relative;
    width: 270px;
    .owl-stage-outer {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .owl-dots {
      position: absolute;
      content: '';
      bottom: 6.75px;
      right: 11.3px;
    }
    .owl-dots .owl-dot span {
      width: 7.5px;
      height: 7.5px;
      border: 1px solid white;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0);
      margin: 0;
      margin-right: 3.7px;
    }
    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot span:hover {
      background: white;
    }

    .owl-nav {
      margin: 0;
      button.owl-:hover,
      button.owl-next:hover,
      button.owl-prev,
      button.owl-next {
        position: absolute;
        content: '';
        top: 68.5px;
        width: 10px;
        height: 10px;
        margin: 0;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: 0;
        transform: rotate(45deg);
        color: rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
      }
      button.owl-prev {
        left: 20px;
      }
      button.owl-next,
      button.owl-next:hover {
        right: 20px;
        transform: rotate(225deg);
      }
    }
  }

  // room-infoo
  .room-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 18px;
  }

  .short-info, 
  .room-rating-reviews {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .short-info {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    .room-number {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      cursor: default;
      span {
        font-family: $titleFont;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $dark-shade-100;
        margin-right: 4px;
        padding-bottom: 1px;
      }
      &.luxury:after {
        position: absolute;
        content: 'люкс';
        font-family: $mainFont sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        bottom: 3px;
        right: -45px;
      }
    }
    .room-price {
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $dark-shade-50;
        i {
          font-weight: normal;
          font-style: normal;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  // room-rating
  .room-rating-reviews {
    padding-top: 8px;
    .reviews span{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: $dark-shade-50;
    }
    .reviews span i{
      font-weight: normal;
      font-style: normal;
      font-size: 12px;
      line-height: 18px;
    }
  }
}