.ui-kit {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.glyphicon {
  position: absolute;
  top: 38px;
  right: 16px;
  pointer-events: none;
}

.glyphicon-down {
  width: 13px;
  height: 8px;
  background: url("../img/css_sprites.png") no-repeat -42px -109px;
}

.glyphicon-next {
  width: 18px;
  height: 18px;
  background: url("../img/css_sprites.png") no-repeat -51px -70px;
}

.form-element-caption {
  display: block;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-100;
  margin-bottom: 5px;
}

.input-btn {
  width: 320px;
  height: 44px;
  padding: 12px 15px;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  font-family: $mainFont;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
  &::placeholder {
    color: $dark-shade-25;
  }
  &:hover, 
  &:focus {
    border: 1px solid $dark-shade-50;
    color: $dark-shade-75;
  }
}

.dropdown-toggle {
  position: relative;
  text-align: left;
  .glyphicon {
    top: 18px;
  }
}

.date {
  color: $dark-shade-25;
  &:focus,
  &:hover {
    color: $dark-shade-75;
  }
}

.form-date-dropdown {
  display: flex;
  flex-direction: row;
  .date-dropdown-start {
    position: relative;
    margin-right: 20px;
  }
  .date-dropdown-end {
    position: relative;
  }
  .input-btn {
    width: 150px;  
    line-height: 24px;
    &::placeholder {
      color: $dark-shade-75;
    }
  }
}

.form-filter-date-dropdown {
  position: relative;
  width: 266px;
  .input-btn {
    width: 266px;
    text-transform: lowercase;
  }
}

.form-subscription-text-field {
  position: relative;
  width: 266px;
  .input-btn {
    width: 266px;
  }
  .glyphicon {
    top: 33px;
    right: 13px;
  }
}

.isSelectionRoom {
  width: 266px;
}
