doctype html
html(lang='en')
  head
    meta(charse="utf-8")
    title Form Elements
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body
    .wrapper
      .ui-kit-logo
        .container
          img(src="assets/img/ui-kit-logo.svg", alt="ui-kit-logo")

      .form-inputs-block
        .container
          .text-field
            .desc
              h3 Text field
              p.ui-ki-status Default
            .input-group
              input(class="input-btn", type="text", placeholder="Email")
          .text-field
            .desc
              h3 Text field
              p.ui-ki-status Hover / Focus
            .input-group
              input(class="input-btn", type="text", placeholder="Email")
          .dropdown
            .desc
              h3 Dropdown
              p.ui-ki-status Default
            .input-group
              button(class="input-btn dropdown-toggle", type="button") Сколько гостей
                span.caret
      .form-buttons-block
        .buttons-block-1
        .buttons-block-2
      .form-dropdown-block
      .form-checkbox-list-block
      .form-social-block