doctype html
html(lang='en')
  head
    meta(charse="utf-8")
    title Form Elements
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body    
    .ui-element
      input(class="input-btn", type="text", placeholder="Email")
    .ui-element
      button(class="input-btn dropdown-toggle", type="button") Сколько гостей
        span.caret
