@import "../../cards/air-datepicker/air-datepicker.scss";

.date-dropdown {
  display: flex;
  flex-direction: row;
  &__start {
    position: relative;
    margin-right: 20px;
  }
  &__end {
    position: relative;
  }

  &__input {
    width: 150px;
    height: 44px;
    padding: 12px 15px;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    font-family: $mainFont;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
    cursor: pointer;
    &::placeholder {
      color: $dark-shade-75;
    }
    &:hover, 
    &:focus {
      border: 1px solid $dark-shade-50;
      color: $dark-shade-75;
    }    
  }

  &__caption {
    display: block;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    margin-bottom: 5px;
  }
  &__glyphicon {
    position: absolute;
    top: 38px;
    right: 16px;
    width: 8px;
    height: 8px;
    border-left: 2px solid $dark-shade-50;
    border-bottom: 2px solid $dark-shade-50;
    pointer-events: none;
  }
  .glyphicon_down {
    transform: rotate(-45deg);
  }
  .glyphicon_up {
    transform: rotate(135deg);
  }
}