html(lang='en')
  head
    meta(charse="utf-8")
    title Home
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body 
    include ../../ui-kit/form-elements/form-elements
    include ../../ui-kit/cards/cards

+room-card(roomsInfo[0])
+room-card(roomsInfo[1])
+in-room-card(roomsInfo[0])
+search-rooms-card
+signIn-card
+signUp-card
    
+text-field("Text Field", "Email")
+date-birthday("Birth day")
+date-dropdown("Date Dropdown", "Date Dropdown")
+filter-date-dropdown("Filter Date Dropdown")
+subscription-text-field("Subscription Text Field", "Email", "")
+quantity-dropdown(rooms, "Сколько комнат", "Dropdown")(class="isSelectionRooms")
+quantity-dropdown(guests, "Сколько гостей", "Dropdown")(class="isSelectionGuests")
+checkbox-list("Expandable checkbox list", includingList, '_isExpandable')
+checkbox-list("Checkbox buttons", rulesList)
+checkbox-list("Rich checkbox buttons", servicesList, '_isRich')
+radio-buttons()
+toggle()
+like-button('2')
+like-button('12')(class="_liked")
+rute-button
+buttons("btn_type_sm", "", "clike me")
+buttons("btn_type_empty", "", "clike me")
+buttons("btn_type_first-simple", "", "clike me")
+buttons("btn_type_second-simple", "", "clike me")
+buttons("btn_type_lg", "","Перейти к оплате")
+pagination(pagination)
+range-slider()
+bullet-list("Правила", bulletList)
+comment(comments)
+room-infomation(roomInfData[0])
+room-infomation(roomInfData[1])
    