html(lang='en')
  head
    meta(charse="utf-8")
    title Home
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body 
    include ../../ui-kit/header/header
    +header('isSignIn')

    