include ../../ui-kit/header/header
include ../../ui-kit/footer/footer

html(lang='en')
  head
    meta(charse="utf-8")
    title Home
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body
    .wrapper
      +header('isSignIn')
      .content
        .container
          h1 Hellow
      +footer

    