include ../../ui-kit/header/header
include ../../ui-kit/footer/footer
include ../../ui-kit/cards/search-rooms-card/search-rooms-card

html(lang='en')
  head
    meta(charse="utf-8")
    title Home
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body
    .wrapper
      +header('')
      .content
        .container
          .search-rooms__card
            +search-rooms-card()
          .search-rooms__desc
            p Лучшие номера для вашей работы, отдыха и просто вдохновения 
      +footer

    