._liked {
  border: 1px solid $purple;
  
  .likes-count {
    color: $purple;
  }

  .heart {
    background-color: $purple;
    border: 1px solid  $purple;
    border-top: none;
    border-left: none;
    bottom: 6px;
    left: 7px;
  }
  .heart:before, 
  .heart:after {
    background-color: $purple;
    border: 1px solid $purple;
    top: -1px;
    left: -2.9px;
  }
  .heart:after {
    left: 0px;
    top: -3.9px;
  }
}