mixin filter-date-dropdown(caption)
  .filter-date-dropdown
    label.filter-date-dropdown__caption= caption
    i.filter-date-dropdown__glyphicon.glyphicon_down
    input.filter-date-dropdown__input.datepicker-here(id="date-filter" type="text" name="data" autocomplete="off" readonly)