// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
@font-face {
  font-family: "Quicksand";
  src: url('/assets/fonts/Quicksand/Quicksand-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('/assets/fonts/Quicksand/Quicksand-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */    
}