@import "../../ui-kit/header/header.scss";
@import "../../ui-kit/footer/footer.scss";
@import "../../ui-kit/cards/signIn-card/signIn-card.scss";

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content._signIn {
  flex: 1 0 auto;
  padding: 163px 0;
  box-sizing: border-box;
  background: url("/assets/img/sign_background_img.jpg") no-repeat left center / cover;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.15);
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

footer {
  flex: 0 0 auto;
}

@media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
  .content._signIn {
    padding: 100px 0;
    height: 100%;
  }
}
@media screen and (max-height: $phoneWidth) and (max-width: $smDesktopWidth) and (orientation: landscape) {
  .content._signIn {
    height: 100%;
    padding: 30px 0;
  }
}
