include ../../form-elements/text-field/text-field
include ../../form-elements/buttons/buttons

block signIn-card
  .signIn
    form(action="", method="", name="signIn")
      h1.signIn__title Войти
      +text-field("", "Email")
      +text-field("", "Пароль")(type="password")
      +buttons("btn_type_lg", "", "Войти")
      ._isSignUp
        p Нет аккаунта на Toxin?
        +buttons("btn_type_empty", "", "Создать")