include ../form-elements/buttons/buttons

block header
  nav 
    .container
      .menu
        .menu__logo
          a(href="")
            img(src="../../assets/img/logo.svg" alt="logotype")

        .menu__header
          button.menu__header__toggle._collapsed
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .menu__collapse
          ul.menu__list
            li.menu__list__titles
              a(href="") О нас
            li.menu__list__titles._dropdown
              a(href="") Услуги
                span.glyphicon
            li.menu__list__titles
              a(href="") Вакансии
            li.menu__list__titles
              a(href="") Новости
            li.menu__list__titles._dropdown
              a(href="") Соглашения
                span.glyphicon
            li.menu__list__btn
              +buttons("btn_type_empty", "", "Войти")
            li.menu__list__btn
              +buttons("btn_type_sm", "", "Зарегистрироваться")