@import '../form-elements/buttons/buttons.scss';

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__header__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
    &:hover {
      .icon-bar{background: $dark-shade-50;}
    }
    .icon-bar {
      position: absolute;
      top: 6.5px;
      left: 4px;
      width: 20px;
      height: 3px;
      background: $dark-shade-75;
      &:nth-child(2) {top: 12.5px;}
      &:nth-child(3) {top: 18.5px;}
    }
  }
  &__header {
    display: none;
    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      align-items: center;
    }
  }

  &__collapse {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: $smPhoneWidth) and (max-width: $smDesktopWidth) {
      flex-grow: 1;
      justify-content: flex-end;

      .menu__list {
        position: absolute;
        width: 100%;
        top: -99999px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        &__titles {
          text-align: center;
          margin-right: 0; 
          padding: 10px 15px;
          border-top: 1px solid $dark-shade-25;
        }
      }
      .menu__btn {
        margin-right: 20px;
        .btn{
          font-size: 10px;
          height: 30px;
        }
      }

      .menu__signIn {
        padding-left: 0;
        padding-right: 30px;
        border-left: none;
      }
    }//@media $smPhoneWidth to $smDesktopWidth

    @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
      .menu__list__titles {
        text-align: left;
      }
      .menu__btn .btn{
        font-size: 10px;
        height: auto;
        padding: 5px 15px;
        margin-right: 0;
      }
      .menu__btn .btn:last-child{display: none;}
      .menu__signIn {padding-right: 20px;}
    }//@media $smPhoneWidth to $phoneWidth
    
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__titles {
      margin-right: 20px;
    }

    &__titles a {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $dark-shade-50;
    }

    &__titles._dropdown a {
      position: relative;
      padding-right: 24px;
      .glyphicon {
        position: absolute;
        top: 4px;
        right: 8px;
        width: 8px;
        height: 8px;
        border-left: 2px solid $dark-shade-50;
        border-bottom: 2px solid $dark-shade-50;
        pointer-events: none;
        transform: rotate(-45deg)
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    .btn {
      display: flex;
      align-items: center;
      width: auto;
      height: 34px;
      padding: 10px 20px;
      margin-right: 20px;
    }
    .btn:last-child {margin-right: 0;}
  }

  &__signIn {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    a {
      line-height: 17px;
      color: $dark-shade-50;
    }
  }
}