include ../../form-elements/date-dropdown/date-dropdown
include ../../form-elements/quantity-dropdown/quantity-dropdown
include ../../form-elements/buttons/buttons

mixin search-rooms-card
  .search-rooms
    form(action="", method="", name="search-rooms")
      h1.search-rooms__title Найдём номера под ваши пожелания
      +date-dropdown("Прибытие", "Выезд")
      +quantity-dropdown(guests, "Сколько гостей", "Гости")(class="isSelectionGuests")
      +buttons("btn_type_lg", "search-room.html", "Подобрать номер")