@import '../../form-elements/date-dropdown/date-dropdown.scss';
@import '../../form-elements/quantity-dropdown/quantity-dropdown.scss';
@import '../../form-elements/buttons/buttons.scss';
.search-rooms {
  width: 380px;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;

  &__title {
    margin-bottom: 20px;
  }
  .date-dropdown {
    margin-bottom: 20.5px;
  }
  .iqdropdown {
    margin-bottom: 31px;
  }
  .date-dropdown__input:focus,
  .iqdropdown__input:focus {
    border: 1px solid $dark-shade-25;
  }
}

@media screen and (max-width: $phoneWidth) {
  .search-rooms {
    width: 280px;
    box-sizing: content-box;
    .date-dropdown {
      justify-content: space-between;
      &__input {width: 129px;}
      &__glyphicon {display: none;}
    }
    .btn {width: 280px;}
  }
}

@media screen and (max-width: 350px) {
  .search-rooms {padding: 20px 15px;}
}