mixin date-birthday(caption)
  .date-birthday
    label.date-birthday__caption= caption
    input.date-birthday__input.datepicker-here(id="date-birthday" type="text" name="data" placeholder="ДД.ММ.ГГГГ" autocomplete="off" readonly)